.list {
  background-color: #cccccc;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 5px;
  border-radius: 8px;
}

.row {
  display: flex;
  align-items: center;
}

.todo-text {
  margin-left: 10px;
  
}


.completed {
  text-decoration: line-through;
}

button {
  cursor: pointer;
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
